.carousel-image {
    width: 92.5%;
    object-fit: fill;
    // background-size: cover;
    height: 400px;
    margin-left: 6rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }