.top-music-component {
    // height: 425px;
    height: 100%;
    margin-top: 40px;
    margin-left: 5rem;
  
    .top-music-container {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
  
      .top-music-heading {
        display: flex;
        font-size: 22px;
        font-weight: bold;
        color: black;
        // height: 5%;
      }
  
      .top-music-playlist {
        margin-top: 15px;
        width: 100%;
        // height: 92%;
        // height: 375px;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }