// body {
//   background-image: url("./Images/spotify6.jpg");
  
// }

.App {
  text-align: center;

  .recommended-topmusic {
    display: flex;
    flex-direction: row;

    .left-pane {
      display: flex;
      flex-direction: column;
      width: 72.5%;
    }
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

// .search-container {
//   margin-left: 125px;
//   background: rgb(245, 245, 245);
//   border: 2px solid rgb(245, 245, 245);
//   border-radius: 50px;
// }