.top-music-song-container {
    width: 200px;
    height: 55px;
    display: flex;

    .play-icon-wrapper {
      box-sizing: border-box;
      border: 2px solid lightgray;
      border-radius: 50%;
      width: 55px;
      height: 55px;
      // height: 65px;
      // display: table-cell;
      // vertical-align: middle;
      // display: flex;

      .fa-play {
        line-height: 52px;
        margin-left: 5px;
      }
    }

    .song-info {
      margin-top: 8px;
      margin-left: 18px;
      overflow: hidden;
      // height: 45px;
      // width: 175px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;

      .song-name {
        font-size: 16px;
        font-weight: bold;
        color: black;
        text-align: left;
        // display: flex;
        // justify-content: space-evenly;
      }

      .singer-name {
        font-size: 14px;
        font-weight: 600;
        color: #333;
        position: relative;
        top: 2px;
        text-align: left;
        // display: flex;
        // justify-content: space-evenly;
      }
    }
  }