.trending-component {
    height: 250px;
    margin-left: 6rem;
    margin-top: 20px;
  
    .trending-container {
      box-sizing: border-box;
      width: 100%;
  
      .trending-top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .heading {
          display: flex;
          font-size: 22px;
          font-weight: bold;
          color: black;
        }
  
        .icons {
          cursor: pointer;
        }
      }
  
      .trending-playlist {
        margin-top: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }